@page
@model ClientePWA.Pages.Students.IndexModel
@{
}
<html>
<head>
    <title>Lista de mensajes</title>
    <link type="text/css" href="~/Styles/styleIndexStudent.css" rel="stylesheet" />
    <link href="~/manifest.json" rel="manifest" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <main>
        <select size="10" class="select">
        </select>
        <center>
            <a data-detailsstudent="detailsStudent" class="aDetails">Ver detalles &#128269;</a>
            <a data-logout="logout" class="aLogOut">Cerrar sesión &#128228;</a>
        </center>
    </main>
    <script type="text/javascript">
        if (navigator.serviceWorker) {
            //Registranos al service worker
            navigator.serviceWorker.register("/ServiceWorkerJS.js");
            //Aqui recibo los mensajes de actualizacion de datos.
        }
    </script>
    <script type="text/javascript" src="~/Scripts/IndexStudentJS.js"></script>
    <script type="text/javascript" src="~/Scripts/ClickAndSubmitJS.js"></script>
</body>
</html>
