@page
@model ClientePWA.Pages.Students.IndexModel
@{
}
<html>
<head>
    <title>Lista de mensajes</title>
    <link type="text/css" href="~/Styles/styleIndexStudent.css" rel="stylesheet" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <h1>Bienvenido(a) Luis Castilleja</h1>
    </header>
    <main>
        <select size="10" class="select">
        </select>
        <center>
            <a class="aDetails">Ver detalles &#128269;</a>
            <a class="aLogOut">Cerrar sesión &#128228;</a>
        </center>
    </main>
    <script type="text/javascript" src="~/Scripts/IndexStudentJS.js"></script>
</body>
</html>
