@page
@model ClientePWA.Pages.Teachers.AddMessageModel
@{
}
<html>
    <head>
        <title>Agregar mensaje</title>
        <link href="~/Styles/styleAddMessageTeacher.css" rel="stylesheet" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header>
            <h1>Agregar mensaje</h1>
        </header>
        <main>
            <div class="divFlex">
            <div>
                <label>Para:</label>
                <input readonly type="text" placeholder="destinatorio..." />
                <input type="button" value="Agregar destinatario" />
                <br />
                <select size="5"></select>
                <br />
            </div>

            <div class="divFilter">
                <label>Filtro:</label>
                <input readonly class="inputFilter" type="text" placeholder="filtro..." />
                <br />
                <select class="selectFilter" size="5"></select>
                <br />
            </div>
            </div>         
            <div class="divRecipients">
            <label>Destinatario(s):</label>
            <input class="removeInput" readonly type="text" placeholder="destinatario..." />
            <input class="removeButton" type="button" value="Eliminar destinatario" />
            <br />
            <select size="5" class="listOfRecipients"></select>
            <br />
            </div>  
            
            <div class="divMessage">
            <label>Asunto:</label>
            <input type="text" placeholder="asunto..." />
            <br />

            <label>Mensaje:</label>
            <input type="text" placeholder="mensaje..." />
            <br />
            </div>
       
        <input type="button" value="Enviar mensaje &#9993;" />
        <input type="button" value="Cancelar &#10060;" />
        </main>
        <script src="~/Scripts/AddMessageTeacherJS.js" type="text/javascript"></script>
    </body>
</html>
