@page
@model ClientePWA.Pages.Teachers.AddMessageModel
@{
}
<html>
    <head>
        <title>Agregar mensaje</title>
        <link href="~/Styles/styleAddMessageTeacher.css" rel="stylesheet" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header>
            <h1>Agregar mensaje</h1>
        </header>
        <main>
            <form>
            <div class="divFlex">
            <div>
                <label>Para:</label>
                <input readonly type="text" placeholder="Seleccione un destinatorio..." />
                <input type="button" value="Agregar destinatario &#10133;" />
                <br />
                <select size="5"></select>
                <br />
            </div>

            <div class="divFilter">
                <label>Filtro:</label>
                <input readonly class="inputFilter" type="text" placeholder="filtro..." />
                <br />
                <select class="selectFilter" size="5"></select>
                <br />
            </div>
            </div>         
            <div class="divRecipients">
            <label>Destinatario(s):</label>
            <input class="removeInput" readonly type="text" placeholder="Seleccione un destinatario..." />
            <input class="removeButton" type="button" value="Eliminar destinatario &#10060;" />
            <br />
            <select size="5" class="listOfRecipients"></select>
            <br />
            </div>  
            
            <div class="divMessage">
            <label>Asunto:</label>
            <input required name="affair" type="text" placeholder="Proporcione el asunto a enviar..." />
            <br />
            <div class="divMessageFlex">
                <label class="labelMessage">Mensaje:</label>
                <textarea required name="message" rows="9" cols="50" class="textMessage" placeholder="Proporcione el mensaje a enviar..."></textarea>
            </div>
        
            </div>
       <div class="divButtons">
            <a class="aSend">Enviar mensaje &#9993;</a>
            <a class="aBack">Cancelar &#10060;</a>
       </div>
        </form>
        </main>
        <footer></footer>
        <script src="~/Scripts/AddMessageTeacherJS.js" type="text/javascript"></script>
    </body>
</html>
