@page
@model ClientePWA.Pages.Teachers.DetailsMessageModel
@{
}
<html>
    <head>
        <title>Detalles del mensaje</title>
    <link href="~/Styles/styleDetailsMessageTeacher.css" rel="stylesheet" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header>
            <h1>Detalles del mensaje</h1>
        </header>
        <main>
            <center>
            <label>Asunto:</label>
            <label>Este es un nuevo asunto</label>
            <br />
            <label>Aqui se moestrar el mensaje en grande</label>
            <br />
            <label>2022/11/01</label>
        <input type="button" value="Volver &#8617;" />
        </center>
        </main>
    <script src="~/Scripts/DetailsMessageTeacherJS.js type="text/javascript"></script>
    </body>
</html>
