@page
@model ClientePWA.Pages.Teachers.IndexModel
@{
}
<html>
    <head>
        <title>Lista de mensajes</title>
    <link type="text/css" href="~/Styles/styleIndexTeacher.css" rel="stylesheet" />
    <link href="~/manifest.json" rel="manifest" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header>
            <h1>Bienvenido(a) Hector Padilla</h1>
        </header>
        <main>
            <select size="10" class="select">
            </select>
            <center>
        <a  data-details="details">Ver detalles &#128269;</a>
        <a  data-add="add">Agregar mensaje &#10133;</a>
        <a data-update="update">Editar mensaje &#10133;</a>
        <a data-delete="delete">Eliminar mensaje &#10133;</a>
        <a  data-logout ="logout">Cerrar sesión &#128228;</a>
        </center>
        </main>
    <script type="text/javascript">
        if (navigator.serviceWorker) {
            //Registranos al service worker
            navigator.serviceWorker.register("/ServiceWorkerJS.js");
            //Aqui recibo los mensajes de actualizacion de datos.
        }
    </script>
    <script type="text/javascript" src="~/Scripts/IndexTeacherJS.js"></script>
    <script type="text/javascript" src="~/Scripts/ClickAndSubmitJS.js"></script>
    </body>
</html>