@page
@model ClientePWA.Pages.Teachers.IndexModel
@{
}
<html>
    <head>
        <title>Lista de mensajes</title>
    <link type="text/css" href="~/Styles/styleIndexTeacher.css" rel="stylesheet" />
    <meta name"viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <header>
            <h1>Bienvenido(a) Luis Castilleja</h1>
        </header>
        <main>
        <div class="listDiv">

            </div>
         <h5>Tap sobre un mensaje para ver sus detalles, click derecho para editar o eliminar</h5>
        <input type="button" value="Agregar mensaje &#10133;" />
        <input type="button" value="Cerrar sesión &#128228;" />
        </main>
    <script type="text/javascript" src="~/Scripts/IndexTeacherJS.js"></script>
    </body>
</html>