@page
@model ClientePWA.Pages.Home.LoginModel
@{
}
<html>
    <head>
        <title>Inicio de sesión</title>
    <link type="text/css" href="~/Styles/styleLogin.css" rel="stylesheet"/>
    <meta name"viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <h1>Inicio de sesión</h1>
        </header>
        <main>
            <center>
            <form method="post">
             <div class="divGrid">

             <div class="divEmail">
                     <label>Correo:</label>
            <input name="email" type="text" required />
             </div>
            <div class="divPassword">
            <br />
            <label>Contraseña:</label>
            <input name="password" type="password" required />
            </div>
            <br />
                    <a>Entrar &#128229;</a>
                </div>
            </form>
            </center>      
        </main>
        <center>
        <script src="~/Scripts/LoginJS.js" type="text/javascript"></script>
        </center>
    </body>
</html>
