@page
@model ClientePWA.Pages.Home.LoginModel
@{
}
<html>
    <head>
        <title>Inicio de sesión</title>
    <link type="text/css" href="~/Styles/estiloLogin.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1>Inicio de sesión</h1>
        </header>
        <main>
        <label>Correo:</label>
        <input type="text"/>
        <br />
        <label>Contraseña:</label>
        <input type="password" />
        <br />
        <a>&#128229; Entrar</a>
        </main>
    </body>
</html>
