@page
@model ClientePWA.Pages.Home.LoginModel
@{
}
<html>
    <head>
        <title>Inicio de sesión</title>
    <link type="text/css" href="~/Styles/styleLogin.css" rel="stylesheet"/>
    <meta name"viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <h1>Inicio de sesión</h1>
        </header>
        <main>
            <center>
            <label>Correo:</label>
            <input type="text" />
            <br />
            <label>Contraseña:</label>
            <input type="password" />
            <br />
            </center>      
        </main>
        <center>
        <input type="button" value="Entrar &#128229;"/>
        </center>
    </body>
</html>
