html, body {
    background-color: #E8E5C9;
    font-family: 'Century Gothic';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-gap: 0px;
}
header {
    background-image: url('../images/hojablanca.png');
    background-repeat:no-repeat;
    background-position-x:center;
}
header h1 {
    text-align: center;
    padding-top: 10px;
    color: #1BAB6F;
}

main {
    padding-top: 50px;
}
main .divGrid {
    padding-top:20px;
    margin:10px 10px 10px 10px;
    text-align:center;
        width: 90%;
        height: 70%;
        display: grid;
        grid-template-columns: 130px 1fr;
        grid-template-rows: 0.5fr 1fr 1.5fr;
}
    main form {
        background-image: url('../images/hojaazul.png');
        background-repeat: no-repeat;
        background-position-x: center;
        width: 40%;
        height: 100%;
    }
main .divEmail {
    grid-column:1/3;
    grid-row:1/2;
}
main .divEmail label {
    margin-top:20px;
    width:120px;
    margin-right:5px;
        font-size: large;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 0.8px;
}
main .divEmail input {
    width:65%;
        height: 26px;
        border: 1px solid black;
        font-size: large;
        background-color:transparent;
}
main .divPassword {
    grid-column:1/3;
    grid-row:2/3;
}
main .divPassword label {
        text-align:left;
        margin-right: 5px;
        font-size: large;
        display: inline-block;
        font-weight: 300;
        letter-spacing: 0.8px;
}

main .divPassword input {
        width: 65%;
        height: 26px;
        border: 1px solid black;
        font-size: large;
        background-color: transparent;
}
main .divGrid a {
    align-self:end;
    grid-column: 1/ span 3;
    grid-row: 3/4;
    display: inline-block;
    background-color: #1BAB6F;
    height: 35px;
    width: 100%;
    font-size: x-large;
    color: white;
    padding-bottom: 3px;
    text-align: center;
    text-decoration:none;
}
