html, body {
    background-color: #E8E5C9;
    font-family: 'Century Gothic';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    padding-top: 10px;
    color: #1BAB6F;
}

main {
    margin: 10px;
}

main select {
        width: 100%;
        height: 60%;
        display: block;
        background-color: transparent;
        border: 2px double #1BAB6F;
}

main option {
        font-size: large;
        padding: 3px;
}

main center {
        margin-top: 20px;
}

main a {
        text-decoration: none;
        padding-top: 5px;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block;
        background-color: #1BAB6F;
        height: 30px;
        width: 190px;
        font-size: medium;
        color: white;
        padding-bottom: 3px;
        text-align: center;
        border: 0px;
}
