html, body {
    background-color: #E8E5C9;
    font-family: 'Century Gothic';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
footer {
    background-image: url('../images/pedazopapelverde.png');
    background-position-x:center;
    height: 40px;
}
header {
    background-image: url('../images/pedazopapelverde.png');
    background-position-x:center;
}
header h1 {
    text-align: center;
    padding-top: 10px;
    color: black;
    font-weight:300;
}
main .divFlex {
    flex-wrap:wrap;
    display: flex;
    width: 70%;
    height: 20%;
    text-align: justify;
    overflow-y: scroll;
    border: 2px double #1BAB6F;
}
main .divFlex label {
        display: inline-block;
        font-weight: 700;
        margin: 5px;
        font-size:x-large;
}
main .divFlex p {
    margin:0px;
        display: inline-block;
        padding: 0px 5px 0px 5px;
        font-size:medium;
}
main .divFlexMessage {
    gap:0px;
    flex-wrap:wrap;
    display: flex;
    text-align: justify;
    width: 70%;
    height: 40%;
    overflow-y: scroll;
    border: 2px double #1BAB6F;
}
main .divFlexMessage label {
    font-size:x-large;
        display: inline-block;
        font-weight: 700;
        margin:5px 0px 0px 5px;
        padding:0px;
        
}
main .divFlexMessage p {
        margin: 0px;
        display: inline-block;
        padding: 5px 5px 0px 5px;
        font-size:medium;
}
main .dateLabel{
    text-align:right;
    display:inline-block;
    border:2px double #1BAB6F;
    padding:5px;
    font-size:large;
}
main .divDate{
    text-align:right;
    width:70%;
}
main a {
    margin-bottom:10px;
    padding-top:5px;
    display:block;
    text-decoration:none;
    height: 30px;
    width: 20%;
    background-color: #1BAB6F;
    color:white;
    font-size:large;
    border:0px;
}
