html, body {
    background-color: #E8E5C9;
    font-family: 'Century Gothic';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header h1 {
    text-align: center;
    padding-top: 10px;
    color: #1BAB6F;
}
.listDiv{
    margin:10px;
    border-color: black;
    border-width: 1px;
    border-style: inset;
    overflow-y: scroll;
    height:400px;
    overflow-x:hidden;
}

main div div {
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 115px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius:10px;
    border: 2px groove #1BAB6F;
}
main div div:last-child{
    margin:10px 5px 10px 5px;
}
main div div a{
    padding: 20px 0px 0px 10px;
    display:inline-block;
    font-size:large;
    color:black;
    text-decoration:none;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
main div div a:last-child{
    padding:20px 10px 0px 0px;
}
main h5{
    margin:10px;
}
main input[type=button] {
    margin-left:10px;
    margin-top: 20px;
    display: inline-block;
    background-color: #1BAB6F;
    height: 35px;
    width: 190px;
    font-size: medium;
    color: white;
    padding-bottom: 3px;
    text-align: center;
    border:0px;
}
